@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rubik+Spray+Paint&display=swap');


body{
    background-image: url(img/backgrounds/fondo_titulo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.zona-menu{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo{
    color: rgb(255, 255, 255);
    margin-top: 10%;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

.zona-menu button{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(88, 126, 230);
    background: rgba(255, 255, 255, 0.76);
    border: none;
    cursor: cell;
    padding: 20px 50px;
    font-size: 40px;
    border-radius: 100px;
}

.zona-menu button:active{
    transform: scale(0.85);
    transition: transform 0.05s;
}

/* .zona-suelo{
    height: 20%;
    width: 100%;
    margin-top: auto;
    display: flex;
    z-index: 0;
    align-items: self-end;
}

#personaje1{
    position: absolute;
    z-index: 1;
    left: 75%;
    top: 70%;
}

#personaje2{
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 67%;
}

#puerta{
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 61%;
    height: 200px;
} */