@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rubik+Spray+Paint&display=swap');

body{
    background-image: url(../img/backgrounds/nivel2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.puerta{
    height: 110px;
    width: 110px;
    background-image: url(../img/sprites/puerta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.puerta_abierta{
    height: 110px;
    width: 110px;
    background-image: url(../img/sprites/puerta_abierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#puerta{
    position: absolute;
    top: 29.3%;
    left: 82%;
}

.cubo{
    height: 100px;
    width: 120px;
    background-image: url(../img/sprites/cubo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cubo1{
    position: absolute;
    top: 75%;
    left: 30%;
}

.zona-suelo{
    height: 20%;
    width: 100%;
    margin-top: auto;
    display: flex;
    z-index: 0;
    align-items: self-end;
    background-color: aqua;
    opacity: 40%;
    clip-path: polygon(0 30%, 10% 20%, 30% 25%, 50% 20%, 70% 25%, 90% 20%, 100% 30%, 100% 100%, 0 100%);

}

.plataforma{
    margin-top: auto;
    z-index: 0;
    position: absolute;
    align-items: self-end;
    background-color: rgb(70, 105, 194);
}

#plataforma0{
    height: 3%;
    width: 20%;
    top: 60%;
    left: 50%;
}

#plataforma1{
    height: 30px;
    width: 150px;
    top: 50%;
    left: 70%;
}

#plataforma2{
    height: 30px;
    width: 10%;
    top: 40%;
    left: 80%;
}

#plataforma3{
    height: 30px;
    width: 10%;
    top: 55%;
    left: 30%;
}

#plataforma4{
    height: 30px;
    width: 25%;
    top: 65%;
    left: 45%; 
}

.trampolin{
    height: 80px;
    width: 100px;
    background-image: url(../img/sprites/trampolin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#trampolin1{
    position: absolute;
    top: 47%;
    left: 33%;
}

.personaje{
    height: 80px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

#personaje1{
    background-image: url(../img/sprites/personaje1.png);
    position: absolute;
    top: 76%;
    left: 80%;
}

#personaje2{
    background-image: url(../img/sprites/presonaje2.png);
    /* background-color: black; */
    position: absolute;
    top: 76%;
    left: 87%;
}
#reloj {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px 18px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 24px;
    font-family: 'Chewy', sans-serif;
    border-radius: 10px;
    z-index: 50; /* para que no lo tapen las plataformas */
}

#llave {
    position: absolute;
    top: 10%;    
    left: 34%;
    width: 60px;
    height: 60px;
    background-image: url("../img/sprites/llave.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 20;
}

.burbujas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 5; /* Ajusta si algo queda encima o debajo */
}

.burbujas span {
    position: absolute;
    bottom: -60px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: subir 6s infinite ease-in;
}

/* Generación aleatoria de posiciones y tamaños */
.burbujas span:nth-child(1) { left: 10%; animation-duration: 5s; width: 8px; height: 8px; }
.burbujas span:nth-child(2) { left: 20%; animation-duration: 7s; }
.burbujas span:nth-child(3) { left: 30%; animation-duration: 4.5s; width: 6px; height: 6px; }
.burbujas span:nth-child(4) { left: 40%; animation-duration: 6.5s; }
.burbujas span:nth-child(5) { left: 50%; animation-duration: 8s; width: 12px; height: 12px;}
.burbujas span:nth-child(6) { left: 60%; animation-duration: 5.5s; }
.burbujas span:nth-child(7) { left: 70%; animation-duration: 7.5s; width: 7px; height: 7px;}
.burbujas span:nth-child(8) { left: 80%; animation-duration: 6.8s; }
.burbujas span:nth-child(9) { left: 90%; animation-duration: 5.2s; width: 9px; height: 9px;}
.burbujas span:nth-child(10){ left: 95%; animation-duration: 7.8s; }

/* Animación de subida */
@keyframes subir {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}
