@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Rubik+Spray+Paint&display=swap');

body{
    background-image: url(/img/backgrounds/nivel3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.puerta{
    height: 110px;
    width: 110px;
    background-image: url(/img/sprites/puerta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.puerta_abierta{
    height: 110px;
    width: 110px;
    background-image: url(/img/sprites/puerta_abierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#puerta{
    position: absolute;
    top: 6%;
    left: 20%;
}

.zona-suelo{
    height: 20%;
    width: 100%;
    margin-top: auto;
    display: flex;
    z-index: 0;
    align-items: self-end;
    background-color: rgb(11, 46, 46);
    opacity: 40%;
    clip-path: polygon(0 30%, 10% 20%, 30% 25%, 50% 20%, 70% 25%, 90% 20%, 100% 30%, 100% 100%, 0 100%);

}

.plataforma{
    margin-top: auto;
    z-index: 0;
    position: absolute;
    align-items: self-end;
    background-color: rgb(95, 137, 243);
}

 #plataforma0{
    height: 22px;
    width: 20%;
    top: 80%;
    left: 70%;
}

#plataforma1{
    height: 22px;
    width: 250px;
    top: 64%;
    left: 60%;
}

#plataforma2{
    height: 22px;
    width: 20%;
    top: 49%;
    left: 45%;
}

#plataforma3{
    height: 22px;
    width: 250px;
    top: 37%;
    left: 29%;
}

#plataforma4{
    height: 22px;
    width: 250px;
    top: 22%;
    left: 13%;
} 

.plataforma::after {
    content: "";
    position: absolute;
    right: -25px;     
    top: -5px;        

    width: 20px;
    height: 30px;

    background-image: url("/img/sprites/Pincho.png");
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 50;

    transform: rotate(-90deg);
    
}

.pinchos {
    position: absolute;
    top: 100%;
    left: 80%;
    width: 100%;
    height: 25px;
    background-image: url(/img/sprites/Pincho.png);
    background-size: contain; /* O COVER según tu sprite */
    background-repeat: no-repeat;
    z-index: 5; /* evita que se escondan */
   
}

.personaje{
    height: 50px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#personaje1{
    background-image: url(/img/sprites/personaje1.png);
    position: absolute;
    top: 79%;
    left: 10%;
}

#personaje2{
    background-image: url(/img/sprites/presonaje2.png);
    /* background-color: black; */
    position: absolute;
    top: 79%;
    left: 17%;
}

#llave {
    position: absolute;
    right: 210px;   
    top: -40px;    
    
    width: 40px;
    height: 40px;

    background-image: url("/img/sprites/llave.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 20;
}

#reloj {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px 18px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 24px;
    font-family: 'Chewy', sans-serif;
    border-radius: 10px;
    z-index: 50; /* para que no lo tapen las plataformas */
}

/*FUNCIONAMIENTO RELOJ*/
/* <script>

</script> */


/* #boton1{
    position: absolute;
    top: 81%;
    left: 60%;
} */

.burbujas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 5; /* Ajusta si algo queda encima o debajo */
}

.burbujas span {
    position: absolute;
    bottom: -60px;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: subir 6s infinite ease-in;
}

/* Generación aleatoria de posiciones y tamaños */
.burbujas span:nth-child(1) { left: 10%; animation-duration: 5s; width: 8px; height: 8px; }
.burbujas span:nth-child(2) { left: 20%; animation-duration: 7s; }
.burbujas span:nth-child(3) { left: 30%; animation-duration: 4.5s; width: 6px; height: 6px; }
.burbujas span:nth-child(4) { left: 40%; animation-duration: 6.5s; }
.burbujas span:nth-child(5) { left: 50%; animation-duration: 8s; width: 12px; height: 12px;}
.burbujas span:nth-child(6) { left: 60%; animation-duration: 5.5s; }
.burbujas span:nth-child(7) { left: 70%; animation-duration: 7.5s; width: 7px; height: 7px;}
.burbujas span:nth-child(8) { left: 80%; animation-duration: 6.8s; }
.burbujas span:nth-child(9) { left: 90%; animation-duration: 5.2s; width: 9px; height: 9px;}
.burbujas span:nth-child(10){ left: 95%; animation-duration: 7.8s; }

/* Animación de subida */
@keyframes subir {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}

